.ball {
    width: 90px;
    height: 90px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 5px;
    position: center;
    float:left;
  }

  .stack {
    width: 475px;
    height: 110px;
    border-radius: 20px;
    background: #b2b8c1;
  }

  .btn-toolbar {
    padding-bottom: 10px;
  }

  .pop-btn {
    margin-right: 2px;
  }

  .btn-danger {
    background: red;
  }

  .btn-warning {
    background: yellow;
  }

  p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px
  }